<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!-- Pagination Bar -->
<div th:fragment="paginationbar">
    <div>
        <ul class="pagination pagination-centered">
            <li th:class="${page.firstPage} ? 'disabled' : ''">
                <span th:if="${page.firstPage}">← First</span>
                <a th:if="${not page.firstPage}" th:href="@{${page.url} (page.page=1, page.size=${page.size})}">← First</a>
            </li>
            <li th:pase="${page.hasPreviousPage} ? '' : 'disabled'">
                <span th:if="${not page.hasPreviousPage}">«</span>
                <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page.page=${page.number-1},page.size=${page.size})}" title="Go to previous page">«</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current} ? 'active' : ''">
                <span th:if="${item.current}" th:text="${item.number}">1</span>
                <a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span th:text="${item.number}">1</span></a>
            </li>
            <li th:class="${page.hasNextPage} ? '' : 'disabled'">
                <span th:if="${not page.hasNextPage}">»</span>
                <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size})}" title="Go to next page">»</a>
            </li>
            <li th:class="${page.lastPage} ? 'disabled' : ''">
                <span th:if="${page.lastPage}">Last →</span>
                <a th:if="${not page.lastPage}" th:href="@{${page.url}(page.page=${page.totalPages},page.size=${page.size})}">Last →</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>