<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <form class="form-horizontal" th:action="@{/products/search}" th:object="${products}" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text"  placeholder="Search..." class="form-control" name="name" />
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Product Id</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th sec:authorize="hasAnyAuthority('USER', 'ADMIN')">View</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                    <th sec:authorize="hasAuthority('ADMIN')">User Name</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                    <td th:text="${product.name}"><a href="/product/${product.id}">Name</a></td>
                    <td th:text="${product.sku}">SKU</td>
                    <td th:text="${product.description}">descirption</td>
                    <td th:text="${product.price}">price</td>
                    <td sec:authorize="hasAnyAuthority('USER', 'ADMIN')"><a th:href="${ '/product/' + product.id}" >View</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/product/update/' + product.id}">Edit</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/product/delete/' + product.id}" >Delete</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/user/show/' + product.user.username}" th:text="${product.user.username}"></a></td>
                </tr>
            </table>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

    <!--/*/ <th:block th:include="fragments/pagination :: paginationbar"></th:block> /*/-->

</div>

</body>
</html>