<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>User List</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <ul th:if="${not #lists.isEmpty(users)}" class="user-list">
        <li th:each="user : ${users}">
            <span th:text="${user.username}"></span>
            <span th:each="role : ${user.roles}" >
                <a th:href="${'/role/list/' + role.role}" th:text="${role.role}"></a>
            </span>
        </li>
    </ul>
</div>
</body>
</html>